@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Sedan:ital@0;1&display=swap');

.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}